.monsters h2 {
    text-align: center;
    position: relative; /* Needed for absolute positioning of the underline */
    color: inherit; /* Inherit the color from the parent element */
}

.monsters h2::after {
    content: ""; /* Empty content for the underline */
    position: absolute;
    bottom: -10px; /* Adjust this value to control the distance between text and underline */
    left: 0;
    right: 0;
    height: 2px; /* Height of the underline */
    background-color: currentColor; /* Underline color matches the text color */
}




