.monster-details{
    text-align: center;
}

.monster-tables h2 {
    text-align: center; /* Center text within the container */
    color: inherit;
    /* position: relative; Added position to contain pseudo-element */
    text-decoration: underline;
    font-size: 30px;
}


.expand-button {
    text-align: center;
    margin-bottom: 20px; /* Add some spacing between the button and the content */
}


.monster-section {
    height: 100%;
    width: 100%;
    margin-bottom: 20px; /* Optional: Add some space between each section */
    display: flex;
    flex-direction: column;
   
}



